@tailwind base;
@tailwind components;
@tailwind utilities;
  
button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.button {
  width: 200px;
  height: 100px;
  background-color: cadetblue;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.button:active {
  transform: scale(1);
  background-color: #1c6691;
}

header, .navbar {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none !important;
}